<div id="teams-filter-form">
  <%= form_for(:filter, url: teams_filter_path, remote: true, html: { class: 'finding_back espaciado', id: 'teams-filter' }) do |f| %>
      <fieldset class="">
        <div class="form-group">
            <%= f.label :Nombre, class: 'control-label' %>
          <%= f.search_field :teamname, class: 'form-control form-white-text', placeholder: 'nombre del equipo' %>
        </div>

        <div class="center-block">
          <%= f.submit 'Buscar', class: 'myButton btn-block' %>
        </div>
      </fieldset>


  <% end %>

</div>