<div class="team col-md-10 bordered Align_center fondo-entrada">
    <h1 class=" title Negrita text-center">CREAR EQUIPO</h1>
    <%= form_for(@team) do |f| %>



        <div class="text-center text-color">
        <%= render 'shared/error_team' %>
            <h4><p><%= f.text_field :teamname, placeholder: "Nombre" %> </p>

                <p><%= f.submit "Crear", {:class => 'btn btn-default fondoBtn'} %></p></h4>
        </div>

    <%end%>
</div>