<div class="container-fluid fondo-entrada ">
    <div class="text-color">
        <h1 class="text-center"><%= @team.teamname %></h1>

        <h2 class="text-center">JUGADORES</h2>
    </div>  
        <%= render 'shared/users' %>
    <div class="text-color">
    <% if logged_in? %>
        <h3 class="text-center">Añadir miembro al grupo</h3>
        <%= form_for :add_member, url: addmember_path, html: { class: 'center-block' } do |f| %>
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email,
                                  class: 'form-control form-white-text',
                                  placeholder: 'Email del nuevo usuario' %>
            </div>

            <%= f.hidden_field :team, value: @team.id %>

            <div class="text-center">
                <%= f.submit 'Añadir usuario', class: 'btn btn-lg myButton' %>
            </div>
        <% end %>
    <% end %>

    <h2 class="text-center">MENSAJES</h2>

    <% @messages.each do |message| %>
        <div>
            <p><%= message.author_name %></p>
            <p><%= message.body %></p>
            <p><%= message.created_at %></p>
        </div>
    <% end %>

    <% if logged_in? %>
        <%= form_for :message, url: messages_path do |f| %>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control form-white-text' %>
            </div>

            <%= f.hidden_field :author, value: current_user.id %>
            <%= f.hidden_field :team, value: @team.id %>

            <div class="text-center">
                <%= f.submit 'Envíar mensaje', class: 'btn btn-lg myButton' %>
            </div>
        <% end %>
    <% end %>
    </div>
</div>
