<%= form_for(@team, html: { class: '' }) do |f| %>

<div class="form-group list_color">
    <%= f.label :Nombre %>
    <%= f.text_field :teamname, class: 'form-control form-white-text', placeholder: 'Nombre' %>
      </div>

<div class="text-center columna-edit-boton">
    <%= f.submit "", class:'glyphicon glyphicon-plus' %>
  </div>


<div class="text-center columna-edit-boton">
    <%= f.submit "Guardar", class:'btn-md text-center' %>
  </div>