

      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> ¿Tienes dudas?. Aquí encontrarás tus respuestas</small></h1>
		</div>
<br><br>
        
      
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
¿Quienes somos?</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
Somos un grupo de estudiantes de la Universidad de Alicante, qué, gracias a una asignatura, han emprendido la creación de este proyecto el cual ahora mismo estás viendo. Basado en el famoso juego League of Legends, está aplicacón que realizamos, te será de gran utilidad.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
¿Qué es League of Legends</a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        League of Legends es un juego competitivo en línea de ritmo frenético, que fusiona la velocidad y la intensidad de la estrategia en tiempo real (ETR) con elementos de juegos de rol. Dos equipos de poderosos campeones, cada uno con un diseño y estilo de juegos únicos, compiten cara a cara a través de diversos campos de batalla y modos de juego. Con un plantel de campeones en constante expansión, actualizaciones frecuentes y un emocionante panorama competitivo, League of Legends ofrece posibilidades de juego ilimitadas a usuarios de todos los niveles de habilidad.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
¿Cuál es el objetivo de esta aplicación </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
El objetivo de nuestra aplicación es facilitar al usuario la búsqueda de equipo. A través de nuestra aplicación, podrás encontrar jugadores acordes a tus expectativas, así como también podrán encontrarte otros usuarios que deseen crear un equipo contigo. Gracias a nuestros filtros de búsqueda, podrás encontrar lo más acorde a tus necesidades, y quién sabe... ¡Podrías ser un nuevo jugador experto de League of Legends y  disputar torneos nacionales e internacionales!</div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
¿Qué tiene de especial vuestra aplicación frente a otras similares</a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
Nuestra aplicación está en constante crecimiento. Estamos dedicandonos a la labor de aumentar las funcionalidades y estar siempre lo más actualizado posible respecto a otras aplicaciones o directamente estar a la par que las actualizaciones del juego. Por ello, podemos ofrecer un servicio estable y en continua expansión </div>
    </div>
  </div>
            
      
      
      
      
      
</div>      
</div>
  </div>