<link rel="stylesheet" type="text/css" href="users.css">
<div class= "login-page">
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= form_for :session, url: login_path, html: { class: 'center-block lol-form' } do |f| %>
  <h1 class="text-center">Inicia Sesión</h1>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control',
    placeholder: 'Introduce tu email' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control',
    placeholder: 'Introduce tu contraseña' %>
  </div>

  <div class="checkbox">
    <%= f.label :remember_me, class: 'form-inline' do  %>
    <%= f.check_box :remember_me %>
    <span class="checkbox-material">
      <span class="check"></span>
    </span>
    Recordarme en este equipo
    <% end %>
  </div>


  <div class="text-center">
      <%= f.submit 'Log in', class: 'btn-custom btn-lg myButton' %>
  </div>
  <% end %>

  <div id="register-link" class="text-center">
      <p class="">¿No tienes una cuenta? <%= link_to 'Registrate', new_user_path,{:class=> "enlace"} %></p>
  </div>


</div>

