<div id="users-filter-form">
        <%= form_for(:filter, url: users_filter_path, remote: true, html: { class: 'finding_back espaciado', id: 'users-filter' }) do |f| %>
        <fieldset class="">
            <div class="form-group list_color">
                <%= f.label :Nombre, class: 'control-label letra' %>
            <%= f.search_field :user_name, class: 'form-control  form-white-text', placeholder: 'nombre del usuario' %>
        </div>

        <div class="form-group list_color">
            <%= f.label :Nombre_Invocador, class: 'control-label' %>
            <%= f.search_field :summoner_name, class: 'form-control form-white-text', placeholder: 'nombre del invocador' %>
        </div>

        <div class="form-group list_color">
            <%= f.label :Liga, class: 'control-label' %>
            <%= f.select :league, @league, { include_blank: true } , class: 'form-control form-white-text' %>
        </div>

        <div class="form-group list_color">
            <%= f.label :Division, class: 'control-label' %>
            <%= f.select :division, @divisions, { include_blank: true }, { class: 'form-control form-white-text' }%>
        </div>

          <div class="form-group list_color">
              <%= f.label :Nivel, class: 'control-label' %>
            <%= f.search_field :level, class: 'form-control form-white-text', placeholder: 'nivel' %>
          </div>


          <div class="form-group list_color">
              <%= f.label :Ciudad, class: 'control-label' %>
            <%= f.search_field :hometown, class: 'form-control form-white-text', placeholder: 'ciudad de origen' %>
          </div>

          <div class="form-group list_color">
            <%= f.label :País, class: 'control-label' %>
            <%= f.search_field :country, class: 'form-control form-white-text', placeholder: 'pais' %>
          </div>

          <div class="form-group list_color">
              <%= f.label :Servidor, class: 'control-label' %>
            <%= f.select :server, @servers, { include_blank: true }, { class: 'form-control form-white-text' }%>
          </div>

          <div class="form-group list_color">
              <%= f.label :Género, class: 'control-label' %>
            <%= f.select :sex, @genders, { include_blank: true }, { class: 'form-control form-white-text' }%>
          </div>

          <div class="form-group list_color">
            <%= f.label :voip, class: 'control-label' %>
            <%= f.select :voip, @voip, { include_blank: true }, { class: 'form-control form-white-text' }%>
          </div>

        <div class="center-block">
            <%= f.submit 'Buscar', class: ' btn-lg myButton btn-block' %>
        </div>
        </fieldset>


    <% end %>
</div>