<%= form_for(@user, html: { class: '' }) do |f| %>

  <div class="fondo-entrada col-md-10 bordered">
    <div class="col-md-5  pull-left">

      <h1 class=" title Negrita">PERFIL</h1>
      <%= render 'shared/error_messages' %>

      <div class="form-group list_color">
          <%= f.label :Nombre %>
          <%= f.text_field :name, class: 'form-control form-white-text', placeholder: 'Nombre' %>
      </div>

      <div class="form-group list_color">
          <%= f.label :Imagen %>
        <%= f.select :image, [ 'corazon.png', 'osito.png', 'osito2.png', 'avatar1.jpg']%>
      </div>

      <div class="form-group list_color">
          <%= f.label :Ciudad %>
          <%= f.text_field :hometown, class: 'form-control form-white-text', placeholder: 'Ciudad' %>
      </div>

      <div class="form-group list_color">
        <%= f.label :Pais %>
        <%= f.text_field :country, class: 'form-control form-white-text', placeholder: 'Pais' %>
      </div>

      <div class="form-group">
          <%= f.label :Genero %>
        <div class="radio-edit form-white-text">
          
            <%= f.radio_button :sex, 'Male', {class: "form-white-text"}%> Male
          <%= f.radio_button :sex, 'Female', {class: "form-white-text"}%> Female
        </div>

      </div>

      <div class="form-group">
          <%= f.label :Fecha_Nacimiento %>
        <%= f.date_select :birthdate, class: 'form-control', placeholder: 'Birthdate', start_year: Date.today.year - 5, end_year: Date.today.year - 80 %>
      </div>

      <div class="form-group list_color">
          <%= f.label :Idiomas %>
          <%= f.text_field :languages, class: 'form-control form-white-text', placeholder: 'Idiomas' %>
      </div>
        

    </div>
      <div class="col-md-5 pull-right">

      <h1 class=" title Negrita">CUENTA</h1>
      <%= render 'shared/error_messages' %>

      <div class="form-group list_color">
          <%= f.label :Nombre_Invocador %>
          <%= f.text_field :summoner_name, class: 'form-control form-white-text', placeholder: 'Nombre de invocador'%>

        <div class="form-group ">
            <%= f.label :Servidor %>
        <%= f.select :server, ['EUW', 'EUN&E', 'NA', 'LAN', 'LAS', 'OCEANIA', 'BRAZIL', 'KOREA', 'EUN', 'JAPAN', 'RUSSIA', 'TURKEY' ]%>
      </div>


      <div class="form-group">
        <%= f.label :Liga %>
        <%= f.select :league, [ 'Unranked', 'Bronze', 'Silver', 'Gold', 'Platinum', 'Diamond', 'Master', 'Challenger']%>
      </div>


      <div class="form-group">
        <%= f.label :division %>
        <%= f.select :division, ['I', 'II', 'III', 'IV', 'V']%>
      </div>

      <div class="form-group">
          <%= f.label :Nivel %>
        <%= f.select :level,  1..30%>   </div>

      </div>
    </div>
  <div class="text-center columna-edit-boton">
      <%= f.submit "Guardar Cambios", class:'btn-lg myButton' %>
  </div>
</div>

<% end %>