<div class="register-page">
  <%= form_for(@user, html: { class: 'center-block lol-form' }) do |f| %>
    <h1 class="text-center">Registrate</h1>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,
                           class: 'form-control',
                           placeholder: 'Repite la contraseña' %>
    </div>

    <div class="text-center">
      <%= f.submit "Crear mi cuenta", class:'btn-lg myButton' %>
    </div>
  <% end %>

  <div id="enter-link" class="text-center">
      <p>Ya tienes usuario? <%= link_to 'Entra', sessions_new_path, {:class=> "enlace"} %></p>
      
</div>
</div>


