<div id="user-show" class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2">
        <% if @user.image.nil? or @user.image == "" %>
            <img src="http://www.cultura-sorda.org/wp-content/uploads/2015/02/Usuario-Vacio1-300x300.png" class="imagen_user"/>
        <% else %>
          <%= image_tag "#{@user.image}", class:"imagen_user"%>
        <% end %>
      </div>
      <div class="col-md-6">
        <h1><%= @user.name.capitalize %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        
          <% if @user.league != nil && @user.league != "Unranked"%>
            <h2> <%= image_tag "#{@user.league.downcase}.png", size: '60x36' %>
            <%= @user.league %> - <%= @user.division %></h2>
          <% end %>
          <% if  @user.league.nil? || @user.league == "" || @user.league == "Unranked"%>
              <h2><span class="glyphicon glyphicon-king"></span> <%= @user.league %></h2>
          <% end %> 


        <div>Summoner Name: <%= @user.summoner_name %></div>
        <div>Server: <%=@user.server%></div>
        <div>Level: <%=@user.level%></div>

        <div>Teams:
            <% @user.teams.each do | team |%>
            <li class="margen-left"> <%= link_to team.teamname, team ,{:class=> "title"}%></li>
            <%end%>
        </div>

        <div>Sex: <%=@user.sex%></div>
        <div>Birthdate: <%=@user.birthdate%></div>
        <div>From:  <%= @user.hometown %>, <%= @user.country %></div>
        <div>Languages: <%=@user.languages%></div>


        <div class="margen-top">
          <% if logged_in? %>
            <span class="glyphicon glyphicon-envelope"></span>Enviar mensaje<br/>
            <span class="glyphicon glyphicon-plus"></span>Enviar invitación de equipo
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        <p><%= @user.description %></p>
      </div>
    </div>
    <h2 class="text-center">MENSAJES</h2>

    <% @messages.each do |message| %>
        <div>
            <p><%= message.author_name %></p>
            <p><%= message.body %></p>
            <p><%= message.created_at %></p>
        </div>
    <% end %>

    <% if logged_in? %>
        <%= form_for :message, url: messages_user_path do |f| %>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control' %>
            </div>

            <%= f.hidden_field :author_name, value: current_user.name %>
            <%= f.hidden_field :author, value: current_user.id %>
            <%= f.hidden_field :user, value: @user.id %>

            <div class="text-center">
                <%= f.submit 'Envíar mensaje', class: 'btn btn-lg myButton' %>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
