<div id="teams-table">
  <% @teams.each do  |team| %>
      <div class="row col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 people-row">
          <%= render partial: 'shared/team', locals: {team: team} %>
      </div>
  <% end %>
</div>