
<div class="col-md-10 team_cards">
    <div>
        <div class="col-xs-5 team pull-left"><h3><i><b><%= link_to team.teamname, team_path(team), {:class=> "enlace"} %></b></i></h3>
        <p>Fecha de creación:<%= team.created_at %></p>
        <p>Ultima actualización:<%=team.updated_at%></p>
    </div>
<div class="col-xs-5 team pull-right">
    <label class="title"><h3><i><b>JUGADORES</b></i></h3></label>
    <% team.users.each do |user| %>
    <li>
        <ul><%= link_to user.name, user_path(user), {:class=> "enlace"} %></ul>
    <%end%>
    </li>
    </div>
    
    </div>

</div>
