<div id="users-table">
  <% @users.in_groups_of(3, false).each do  |group| %>
      <div class="row col-xs-10  col-md-10 people-row center-block">
        <% group.each do |user| %>
          <%= render partial: 'shared/user', locals: {user: user} %>
        <% end %>
      </div>
  <% end %>
</div>