<div class="col-md-4 person">
  <div class="row">
    <div class="col-xs-4 col-md-4">
    <% if user.image.nil? or user.image == "" %>
            <img src="http://www.cultura-sorda.org/wp-content/uploads/2015/02/Usuario-Vacio1-300x300.png" , height="65" width="65", class= 'center-block list-avatar'/>
        <% else %>
            <%= image_tag "#{user.image}", size: '65x65', class: 'center-block list-avatar' %>

        <% end %>
      <br />
      <p><span class="glyphicon glyphicon-envelope"></span></p>
    </div>
    <div class="col-xs-8 col-md-8 list-user-data">
            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= link_to user.name, user_path(user), {:class=> "enlace"} %></p>
            <p><span class="list-user-item"><%= user.summoner_name %></span> </p>
            <% if user.league != nil && user.league != "Unranked"%>
            <p> <%= image_tag "#{user.league.downcase}.png", size: '30x18' %>
            <%= user.league %> - <%= user.division %></p>
            <% end %>
            <% if  user.league.nil? || user.league == "" || user.league == "Unranked"%>
              <p><span class="glyphicon glyphicon-king"></span> <%= user.league %></p>
            <% end %>
           
    </div>
  </div>
</div>