
<div id="home-page" class="">
    <div class="fondo-entrada bordered">
        <h2 class="title titleAlign Negrita">JUGADORES SIN EQUIPO</h2>
        <%= render 'shared/users' %>
    </div>
    <div class="fondo-entrada  bordered">
    <h2 class="title titleAlign Negrita">EQUIPOS</h2>
        <%= render 'shared/teams' %>

  </div>
</div>