<div id="users-table" class="">
  <table class="table table-striped list_back  list_color" >
            <tr>
                <td><b>Nombre Usuario</b></td>
                <td><b>Nombre Invocador</b></td>
                <td><b>Nivel</b></td>
                <td><b>Division</b></td>
                <td><b>Mapa</b></td>
                <td><b>Disponibilidad</b></td>
                <td><b>Línea/Líneas</b></td>
                <td><b>Ciudad</b></td>
            </tr>
            <% @users.each() do |user|%>
            <tr>
                  <td><%= link_to user.name, user_path(user) %></td>
                  <td><%= user.summoner_name%></td>
                  <td><%= user.level%></td>
                  <td><%= user.division%></td>
                  <td>Summoners Rift</td>
                  <td><%= user.time%></td>
                  <td>Todas</td>
                  <td><%= user.hometown%></td>
            </tr>
            <% end %>
        </table>

</div>