<div class="finding_back espaciado pull-left col-md-2">
        <div class="form-group  text_color">
            <input id= "user_name_input" type="text" class="from-control" placeholder="Nombre de usuario"><br><br>
            <label for="Avanzada" class="text_color"><u><font size="2">Busqueda avanzada</font></u></label>

            <input id="Summoner_name" type="text" class="from-control" placeholder="Nombre de invocador"><br>
            <br>

            <!--<div class="btn-group">-->
            <select id="Division"  class="form-control btn-default text_color btn-raised">
                <option value="Division">DIVISION</option>
                <option value="Unranked">Unranked</option>
                <option value="Bronce">Bronce</option>
                <option value="Plata">Plata</option>
                <option value="Oro">Oro</option>
                <option value="Platino">Platino</option>
                <option value="Diamante">Diamante</option>
                <option value="Aspirante">Aspirante</option>
            </select>
            <!--</div>-->
            <br>
            <input id="Level" type="text" class="from-control" placeholder="Nivel"> <br>
            <br>
            <!--<div class="btn-group">-->
            <select id="Linea" class="form-control btn-default text_color btn-raised">
                <option value="Linea">LINEA</option>
                <option value="Top">Top</option>
                <option value="Jungla">Jungla</option>
                <option value="Mid">Mid</option>
                <option value="ADC">ADC</option>
                <option value="Support">Support</option>
            </select>
            <!--</div>-->

            <br>

            <!--<div class="btn-group">-->
            <select id="Mapa" class="form-control btn-default text_color btn-raised">
                <option value="Mapa">MAPA</option>
                <option value="Reclutamiento">Reclutamiento</option>
                <option value="A_ciegas">A ciegas</option>
            </select>
            <!--</div>-->

            <br>

            <input id="Hours" type="text" class="from-control" placeholder="Disponibilidad"><br>

            <br>

            <input id="Age" type="text" class="from-control" placeholder="Edad"><br>

            <br>

            <input id="City" type="text" class="from-control" placeholder="Ciudad"><br>
            <br>

            <!--<div class="btn-group">-->
            <select id="Sexo" class="form-control btn-default text_color btn-raised">
                <option value="Genero">GENERO</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
            <!--</div>-->

            <br>
            <br>

            <div><button id="find_button" onclick="GenerarBusqueda()" class="btn btn-lg btn-block btn-raised btn-primary">BUSCAR</button></div>
        </div>
    </div>