@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";

// Cyan
// Indigo
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$primary-color-background: #E9EAEC;

html {
height: 100%;
  width: 100%;

}

.negrita{
    font-weight: bold;
}

.AllMayus{
    font-variant:small-caps;
}

.header{
    background-color:darkviolet;
    background-size:cover;
    background-position: center;
    color:gold;
}
.option:hover{

    background:	#8A2BE2
}

body {
  margin-top: 5rem;
  font-family: 'Noto Sans';
  // background-image: image-url("blue_magic.jpg");
  // height: 100%;
  // width: 100%;
  // background-image: url("blue_magic.jpg");

}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:12rem; /* this needs to be bigger than footer height*/
}


.content-body {

}

.lol-form {
  max-width: 40rem;
  // margin-top: 8rem;
  padding: 5rem;
  border-radius: 5px;
  border-top-width: 0.09px;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-left-width: 0.2rem;
  border-color: #bfbfbf;
  border-style: solid;
  background: #E9EAEC;
}

.footer {
  position: relative;
  // margin-top: 5rem;
  height: 12rem;
  padding-top: 3rem;
  background: #009688;
  color: $primary-color-text;
}

footer nav {
  margin-right: 0;
}

.bordered {
  border-radius: 5px;
  border-top-width: 0.09px;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-left-width: 0.2rem;
  border-color: #8e44ad;
  border-style: solid;
}

.person {
  background: #E9EAEC;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5;
  margin-right: 1.5rem;
  min-height: 15rem;
  max-width: 30rem;
  border-radius: 5px;
  border-top-width: 0.09px;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-left-width: 0.2rem;
  border-color: #bfbfbf;
  border-style: solid;
  border-color: darkgoldenrod
    
}

.list-avatar {
  margin-top: 1rem;
  margin-left: 1rem;
}

.list-user-data {
  margin-top: 1rem;
}

.list-user-item {
  // margin-left: 1rem;
}

.title{
    color:goldenrod;
}

.enlace{
    color:darkgoldenrod;
}

.titleAlign
{
    margin-left: inherit
}
.enlace:hover{
    color:goldenrod
}
#register-link {
  margin-top: 2rem;
  color: $primary-color-text;
}

#enter-link {
  margin-top: 2rem;
  color: $primary-color-text;
}

.primary-text-color {
  color: $primary-color-text;
}

#people-page {
  background-image: image-url("banner.jpg");
  background-size: contain;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#people-filter {
  margin-top: 2rem;
  color: $primary-color-text;
  max-width: 80rem;
}

.people-row {
  // margin-left: 5rem;
  float: none;
}

#home-page {

  h2 {
    padding-top: 2rem;
  }
}

#user-show {
  height: 100%;
  width: 100%;

  .jumbotron {
    margin-top: 5rem;
    background: $primary-color-background;
  }
}

.login-page {
    margin-top: 5rem;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

}

.register-page {
  padding-top: 5rem;
  //background-image: image-url("blue_magic.jpg");
}

.form-white-text {
  color: $primary-color-text;
}

.form-white-text:focus {
    color: black!important;
    background-color: ghostwhite;
}
.text-color{
  color:gold;
}

.margen-arriba{
    padding-top: 3rem;
}

.margen-lateral{
    padding-left: 3rem;
    padding-right: 3rem;
}

.fondo-entrada{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    background: rgba(75,0,130,.5);
}

.textTop{
 text-align: inherit    
}