// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team{
    margin-top: 10px;
}

.team_cards{
  background: #E9EAEC;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5;
  margin-right: 1.5rem;
  min-height: 15rem;
  border-radius: 5px;
  border-top-width: 0.09px;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-left-width: 0.2rem;
  border-color: #bfbfbf;
  border-style: solid;
    border-color: darkgoldenrod
}

.fondoBtn {
	background-color:darkviolet;
    color:whitesmoke;
    border-color:mediumvioletred
}
.fondoBtn:hover {
	background-color:blueviolet;
}

.icon_size{
    font-size:50px;
}
.Align_center{
    align-items: center;
}
.TopPosition{
    position:absolute
}
