
.margen-left{
    margin-left: 30px;
}


.margen-top{
    margin-top: 30px;
}


.columna-edit-50{
    float: left;
    height: 100%;
    width: 50%;
}

.columna-edit-boton{
    float: left;
    height: 100%;
    width: 100%;
}

.imagen_user{
    height: 150px;
    width: 150px;
}

.color1{
    color:white;

}
.top-section-detaills{
    background-color:rgba(0, 0, 0, 0.8);
    padding: 12px;
    margin-top: 30px;
    h3{
        margin-top: 30px;
    }
    img{
        border: solid 4px;
        height: 140px;
    }
}
.info-section-details{
    padding: 12px;
    background-color:rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    color:white;
}

#users-filter-form {
    margin-top: 3rem;
}

.transparency{
    opacity: .7
}

.espaciado{
    padding-top: 2rem;
}


.login_color{
    color:dimgrey
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px blueviolet;
	-webkit-box-shadow: 0px 10px 14px -7px blueviolet;
	box-shadow: 0px 3px 3px 0px blueviolet;
	background-color:darkviolet;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
    border-color: purple;
	display:inline-block;
	cursor:pointer;
	color:whitesmoke;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:blueviolet;
}
body {
    background-image: image-url("fondo.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.campos{
     color:darkviolet;
}
.letra
{
    font-size:20px
}

