<footer>
  <div class="container-fluid">
    <p>
    Made with <span class="glyphicon glyphicon-heart"></span>
  </p>

    <ul class="breadcrumb">
      <li><%= link_to 'Attributions', '#' %></li>
      <li><%= link_to 'Team', '#' %></li>
      <li><%= link_to 'Blog', '#' %></li>
    </ul>
  </div>
</footer>