<link rel="stylesheet" type="text/css" href="style.css.scss">

<header class="header">
  <nav id="navigation-menu" class=" navbar header negrita AllMayus navbar-fixed-top">
    <div class="container-fuild">
      <div class="navbar-header">
        <button class="navbar-toggle"
                aria-controls="navbar"
                data-target="#navbar-menu" data-toggle="collapse"
                type="button" aria-expanded="">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <%= link_to "LOLPremade", root_path, class: 'navbar-brand' %>
      </div>

      <div id="navbar-menu" class="collapse navbar-collapse"
           aria-expanded="false" style="hight: 1px;">
        <ul class="nav navbar-nav options-menu">
          <li class="menu-option option"><%= link_to "Usuarios", :controller => "users", :action => "index" %></li>
          <li class="menu-option option"><%= link_to "Equipos", teams_path %></li>

          <% if logged_in? %>
            <%if current_user.teams.size==0 %>
            <li class="menu-option option"><%= link_to "Mi Equipo",:controller => "teams", :action => "new" %></li>
            <%end%>
            <%if current_user.teams.size!=0 %>
            <li class="menu-option option"><%= link_to "Mis Equipos",'/myteams' %></li>
            <%end%>
            <li class="dropdown option">
              <a href="#" class="dropdown-toogle option" data-toggle="dropdown">
                Cuenta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu option">
                  <li><%= link_to 'Perfil', current_user %></li>
                <li><%= link_to 'Configuración', edit_user_path(current_user) %></li>
                <li><%= link_to "Equipos", :controller => "teams", :action => "new" %></li>
                <li class="divider"></li>
                <li><%= link_to 'Log out', logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="option"><%= link_to 'Log in', login_path %></li>
          <% end %>
         <li class="menu-option option"><%= link_to 'FAQ', '/static_pages/FAQ', class: 'menu-link' %></li>
        </ul>
      </div>

    </div>
  </nav>
</header>