<!DOCTYPE html>
<html>
<head>
  <title>Lolpremade</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#009688">
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap" class="container-fuid clear-top">
<div id="main">
  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
    <div class="footer alert alert-<%= message_type %>"><%= message %></div>
  <% end %>


  <%= yield %>
</div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
